
table{
    width: 1000px;
    background-color: gray;
    height: 50px;
    /* 기본값 border-collapse: separate */
    border-collapse: collapse;
}

table td{
    text-align: center;
    border: 1px solid black;
    color: white;
}

table td a{
    text-decoration: none;
    color: white;
}

td:hover{
    background-color: white;
    
}
td:hover a{
    color: gray;
}
